.comment-section {
  padding: 0.5rem 1rem;
  &__header {
    font-size: 22px;
  }
  &__comments {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }
}

.comment-container {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
  &:hover {
    background: #fafafa;
  }
  &__owner {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    align-items: flex-start;
    justify-content: center;
    > div {
      margin: 0.2rem 0;
    }
    &__username {
      font-weight: bold;
    }
    &__comment {
      font-size: 18px;
    }
    &__date {
      font-size: 13px;
    }
  }
}

.news-section {
  padding: 0.5rem 1rem;
  &__header {
    font-weight: bold;
    font-size: 24px;
  }
  &__description {
    margin: 1rem 0;
    font-size: 18px;
  }
  &__resource {
    width: 50%;
    margin: auto;
  }
}
